@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'NoizeSport';
  src: url('../public/images/font/NoizeSport-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../public/images/font/Open_Sans/static/OpenSans_Condensed-Medium.ttf');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  
}

:root {
  --primary-color: #D96452;
  --secondary-color: #061319;
  font-family: 'Open Sans', sans-serif !important;
}

body {
  background: var(--primary-color);
  height: 100vh;
  font-family: 'Open Sans', sans-serif !important;
}

ul > * {
  color: #fff;
  padding-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: center;
  letter-spacing: 2px;
}
ul > *:hover {
background: var(--secondary-color) !important;
border-radius: 5px;
}

.btn {
  background-color: var(--secondary-color);
  color: #fff;
  width: 200px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #fff;
}

.btn:hover {
  background: #fff;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  transition: ease-in-out .3s all;
}

.cus-font {
 font-family: 'NoizeSport' !important;
}
