
.form , 
form {
  display: flex;
  flex-direction: column;
}

input ,
textarea {
  background: transparent;
  border: none;
  border-bottom: solid 1px  #fff;
  padding: 1rem;

}

textarea {
  border: 1px solid #fff;
}
::placeholder{
  color: #fff;
}

.submit-btn {
  background: #D16250;
  color: #fff;
  border: none;
  border-radius: 5px;
}
